---
import type { ImageMetadata } from "astro";
interface Props {
	heading: string;
	body: string;
	services?: Array<string>;
	position?: "top" | "center" | "bottom";
	alt?: string;
	image?: ImageMetadata;
}

import { Image } from "astro:assets";

const {
	heading,
	body,
	services,
	position = "top",
	alt,
	image,
} = Astro.props as Props;
---

<section
	class:list={[
		"relative min-h-[100lvh] flex flex-col px-40 pt-280 pb-80",
		{ "justify-start": position === "top" },
		{ "justify-center": position === "center" },
		{ "justify-end": position === "bottom" },
	]}
>
	{
		image && alt && (
			<Image
				src={image}
				alt={alt}
				class="w-full h-full object-cover absolute inset-0"
			/>
		)
	}
	<div class="absolute inset-0 bg-black/50"></div>
	<div class="md:ml-90 relative md:max-w-[26.25rem]">
		<h2 class="mb-30 md:mb-60 r-lg [text-wrap:balance]">{heading}</h2>
		<div class:list={['text-sm [text-wrap:pretty] rich-text', services ? 'sm:columns-2 sm:gap-20' : 'md:max-w-[13.125rem]']}>
			<div set:html={body} />
			{
				services && (
					<ul>
						{services.map((service) => (
							<li>{service}</li>
						))}
					</ul>
				)
			}
		</div>
	</div>
</section>
