---
import type { ImageMetadata } from "astro";
interface Props {
	heading: string;
	body: string;
	services?: Array<string>;
	position?: "top" | "center" | "bottom";
	mobilePosition?: "top" | "center" | "bottom";
	pinImageOnMobile?:
		| "top"
		| "right top"
		| "right"
		| "right bottom"
		| "bottom"
		| "left bottom"
		| "left"
		| "left top"
		| "center";
	alt?: string;
	image?: ImageMetadata;
	loading?: "lazy" | "eager";
}

import { Picture } from "astro:assets";

const {
	heading,
	body,
	services,
	position = "top",
	mobilePosition = "bottom",
	pinImageOnMobile = "left bottom",
	alt,
	image,
	loading = "lazy",
} = Astro.props as Props;
---

<section
	class:list={[
		"relative h-full min-h-screen flex flex-col px-20 md:px-40 pt-190 md:pt-280 pb-40 md:pb-80",
		{ "justify-start": mobilePosition === "top" },
		{ "justify-center": mobilePosition === "center" },
		{ "justify-end": mobilePosition === "bottom" },
		{ "md:justify-start": position === "top" },
		{ "md:justify-center": position === "center" },
		{ "md:justify-end": position === "bottom" },
	]}
>
	{!image && <div class="absolute inset-0 background-pattern opacity-80" />}
	{
		image && alt && (
			<Picture
				src={image}
				alt={alt}
				widths={[400, 800, 1200, 1600]}
				formats={["webp", "avif"]}
				fallbackFormat="jpg"
				pictureAttributes={{
					class: "overflow-hidden w-full h-full",
				}}
				class:list={[
					"w-full h-full object-cover absolute inset-0 lazyload blur-up sm:object-center",
					pinImageOnMobile === "top" && "object-top",
					pinImageOnMobile === "right top" && "object-right-top",
					pinImageOnMobile === "right" && "object-right",
					pinImageOnMobile === "right bottom" &&
						"object-bottom-right",
					pinImageOnMobile === "bottom" && "object-bottom",
					pinImageOnMobile === "left bottom" && "object-left-bottom",
					pinImageOnMobile === "left" && "object-left",
					pinImageOnMobile === "left top" && "object-left-top",
					pinImageOnMobile === "center" && "object-center",
				]}
			/>
		)
	}
	<div class="md:ml-90 relative">
		<h2
			class="mb-30 md:mb-60 r-lg [text-wrap:balance] max-w-[75%] md:max-w-[26.25rem]"
		>
			{heading}
		</h2>
		<div
			class="[text-wrap:pretty] md:flex md:space-x-20 space-y-20 md:space-y-0"
		>
			<div class="r-sm rich-text md:max-w-[13.125rem]" set:html={body} />
			{
				services && (
					<ul class="services sm:columns-2 sm:gap-20 md:max-w-[55rem] r-md font-serif leading-[.9em]">
						{services.map((service) => (
							<li>{service}</li>
						))}
					</ul>
				)
			}
		</div>
	</div>
</section>
